body {
  font-family: Arial, sans-serif;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #9FE2BF;
}
.navbar-default .navbar-toggle {
    border-color: #9FE2BF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #004687;
}
.navbar-default .navbar-nav>li>a {
    color: #9FE2BF;
}
#collapsable-nav {
  padding-left: 0;
  padding-right: 0;
}
#nav-list li a{
  border-top: 1px solid white;
  width: 100%;
}

#nav-list li:first-child > a{
  border-top: 0;
}
#nav-list li a:hover {
  background-color: #004687;
  color: white;
}

#header-nav {
  background-color: #4682B4;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}
.h2, h2 {
    font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #9FE2BF;
  text-transform: uppercase;
  font-weight: bold;  
  font-size: 2.2em;
}
.menu-item-description {
  background-color: #4682B4;
  color: white;
}